.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  min-width: 600px;
  height: 600px;
}
.btn{
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}
.btn:hover{
  cursor: pointer;
  transform: scale(1.15);
  transition: all 0.1s ease-in-out;
}
.primary{
  color: white;
  background-color: rgb(40, 126, 158);
}
.cover{
  width: 100%;
  flex: 1;
}
.text-title{
  font-size: 32px;
  color: rgb(40, 126, 158);
  font-weight: 600;
}
.lg-width-container{
  width: 1000px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 4px;
  height: 650px;
  display: flex;
  flex-direction: column;
}
.text-medium-gray{
  font-size: 22px;
  font-weight: 600;
}
.text-small-gray-dark{
  font-size: 18px;
  font-weight: 600;
  color: gray;
}
.text-small-gray-light{
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
svg{
  color: lightgray;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  cursor: pointer;
}
svg:hover{
  color: rgb(6, 189, 189);
}
.inp{
  padding: 5px;
  border: none;
  width: 100%;
  outline: none;
}
.inp-visible{
  padding: 5px;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  border-radius: 4px;
}
a{
  color: rgb(40, 126, 158);
  text-decoration: none;
  font-size: 18px;
}